[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.15"
social-auth-app-django = "==5.0.0"
werkzeug = "==2.2.2"
pyopenssl = "==22.1.0"
certifi = "*"
easy-thumbnails = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
